<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự đoán loài hoa</title>
</head>
<body>
    <h1>Dự đoán loài hoa từ bộ dữ liệu Iris</h1>
    <h2>Họ và tên: Nguyễn Minh Thuận</h2>
    <h3>MSSV: B2106816</h3>
    
    <form action="/predict" method="POST">
        <label for="sepal_length">Sepal Length:</label>
        <input type="text" name="sepal_length" required><br>
        
        <label for="sepal_width">Sepal Width:</label>
        <input type="text" name="sepal_width" required><br>
        
        <label for="petal_length">Petal Length:</label>
        <input type="text" name="petal_length" required><br>
        
        <label for="petal_width">Petal Width:</label>
        <input type="text" name="petal_width" required><br>
        
        <input type="submit" value="Dự đoán">
    </form>

    {% if prediction_text %}
    <h2>{{ prediction_text }}</h2>
    {% endif %}
</body>
</html>
